name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v30

      - name: Cache Nix store
        uses: cachix/cachix-action@v15
        with:
          name: ungood
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv

      - name: Run CI validation
        shell: devenv shell bash -- -e {0}
        run: |
          echo "${{ secrets.GIT_CRYPT_KEY }}" | base64 -d | git-crypt unlock -
          just ci
